.img{
    width: 1292px;
    height: 664px;
}
.blu{
   height: 400px; 

}
.icon{
    color: rgba(255, 187, 0, 0.897);
    margin-top: -110px;
    
    
}
.icon-wi{
    width: 55px;
    height: 55px;
}
.login-form {
    width: 385px;
    height: 485px;
    margin: 50px auto;
    
}
.login-form form {        
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 18px;
}
.input{
    background-color: rgba(255, 187, 0, 0.897);
    width: 34px;
}
.fa{
    color: black;
}
.login-btn {
    
    font-weight: bold;
}
.btn{
    width: 80px;
    height: 40px;
    float:right;
}
.float{
    float: left;
}

   
